*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1320px;
    margin: auto;
}
.box{
    border: 1px solid white;
    width: 100%;
}
.bg-color{
    background-color: black;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
.p-20{
    padding: 20px;
}
.p-10{
    padding: 10px;
}
.mb-100{
    margin-bottom: 100px;
}
/* --------------------------------Navbar start -------------------------------- */
.container1{
    max-width: 100%;
    background-color: #121212c7;
}
.fa-imdb{
    font-size: 50px;
    color: #F5C513;
    padding: 5px 15px;
}
.h4{
    color: #fff;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Poppins", serif;
}
#nav-a{
    text-decoration: none;
}
#nav-a:hover{
    background-color: rgb(78, 75, 75);
    /* padding: 5px 10px; */
    border-radius: 5px;
}
#select{
    padding: 9px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background-color: #fff;
    border-right: 1px solid gray;
    font-size: 13px;
    font-family: "Poppins", serif;
    width: 10%;
}
#nav-search{
    width: 90%;
    background-color: #fff;
    border: none;
    padding: 9px;
    font-size: 14px;
    font-family: "Poppins", serif;
    border-radius: 0px 5px 5px 0px;
}
#Watchlist{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: "Poppins", serif;
}
#Watchlist:hover{
    background-color: rgb(78, 75, 75);
    border-radius: 5px;
}
#Sign-in{
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-family: "Poppins", serif;
    font-size: 15px;
}
#Sign-in:hover{
    background-color: rgb(78, 75, 75);
    border-radius: 5px;
}
#Language{
    width: 30%;
    margin-left: 30px;
    border: none;
    padding: 9px;
    border-radius: 5px;
    font-family: "Poppins", serif;
    font-size: 13px;
}
.ri-bookmark-3-fill{
    color: #fff;
    border-left: 2px solid white;
    padding: 0px 0px 0px 20px;
}
/* --------------------------------Navbar end -------------------------------- */



/* --------------------------------slider section start -------------------------------- */
.d-flex1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-slider div img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    
}
.main-slider{
    position: relative;
}
.main-slider .slick-prev{
    top: 300px;
    left: 40px;
    z-index: 2;
}
.main-slider .slick-prev:before{
    font-size: 40px;
    border: 1px solid #fff;
    padding: 10px 5px;
    border-radius: 5px;
}

.main-slider .slick-next{
    top: 300px;
    right: 70px;
    z-index: 2;
}
.main-slider .slick-next:before{
    font-size: 40px;
    border: 1px solid #fff;
    padding: 10px 5px;
    border-radius: 5px;
}

.movies-data{
    position: absolute;
    color: white;
    bottom: 0;
}
.movies-data img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}
.data a{
    text-decoration: none;
    color: white;
}
.data i{
    font-size: 90px;
    background-color: transparent;
    margin-left: 10px;
}
.data1{
    margin: 20px 0px 0px 10px;
}
.data1 a{
    text-decoration: none;
    color: white;
}
.data1 a h2{
    font-size: 40px;
    font-family: "Poppins", serif;
    font-weight: 500;
}
.data1 a p{
    font-size: 20px;
    font-family: "Poppins", serif;
    font-weight: 300;
}
.data1 a i{
    font-size: 18px;
}
/* --------------------------------slider section end -------------------------------- */



/* --------------------------------top-10-imdb section srat -------------------------------- */
.title h1{
    border-left: 3px solid #F5C513;
    padding-left: 10px;
    font-size: 24px;
    font-family: "Poppins", serif;
    color: #fff;
}

.movie-thumb a img{
    width: 100%;
    border-radius: 0px 10px 0px 0px;
}
.ri-star-s-fil{
    color: #F5C513 !important;
}
.ri-star-s-line{
    color: #5799ef;
    margin-left: 30px;
    font-size: 20px;
}

.imdb-data{
    padding: 10px;
    background-color: rgb(78, 75, 75);
    border-radius: 0px 10px 10px 0px;
}
.imdb-data p{
    color: #fff;
    font-size: 24px;
    font-family: "Poppins", serif;
    margin-bottom: 10px;
}
.imdb-data a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: "Poppins", serif;
}
.watchlist a{
    text-decoration: none;
    color: #5799ef;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px 30px;
    margin-bottom: 10px;
}
.trailer a{
    text-decoration: none;
    color: #fff;
}
/* --------------------------------top-10-imdb section end -------------------------------- */