*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1320px;
    margin: auto;
}
.box{
    /* border: 1px solid white; */
    width: 100%;
}
.bg-color{
    background-color: black;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
.space-between{
    justify-content: space-between;
}
.p-20{
    padding: 20px;
}
.p-10{
    padding: 10px;
}
.mb-100{
    margin-bottom: 100px;
}
.mb-20{
    margin-bottom: 20px;
}
.border{
    border-radius: 20px;
}
/* --------------------------------Navbar start -------------------------------- */
.container1{
    max-width: 100%;
    background-color: #121212c7;
}
.fa-imdb{
    font-size: 50px;
    color: #F5C513;
    padding: 5px 15px;
}
.h4{
    color: #fff;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Poppins", serif;
}
#nav-a{
    text-decoration: none;
}
#nav-a:hover{
    background-color: rgb(78, 75, 75);
    /* padding: 5px 10px; */
    border-radius: 5px;
}
#select{
    padding: 9px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background-color: #fff;
    border-right: 1px solid gray;
    font-size: 13px;
    font-family: "Poppins", serif;
    width: 10%;
}
#nav-search{
    width: 90%;
    background-color: #fff;
    border: none;
    padding: 9px;
    font-size: 14px;
    font-family: "Poppins", serif;
    border-radius: 0px 5px 5px 0px;
}
#Watchlist{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: "Poppins", serif;
}
#Watchlist:hover{
    background-color: rgb(78, 75, 75);
    border-radius: 5px;
}
#Sign-in{
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-family: "Poppins", serif;
    font-size: 15px;
}
#Sign-in:hover{
    background-color: rgb(78, 75, 75);
    border-radius: 5px;
}
#Language{
    width: 30%;
    margin-left: 30px;
    border: none;
    padding: 9px;
    border-radius: 5px;
    font-family: "Poppins", serif;
    font-size: 13px;
}
.ri-bookmark-3-fill{
    color: #fff;
    border-left: 2px solid white;
    padding: 0px 0px 0px 20px;
}
/* --------------------------------Navbar end -------------------------------- */



/* --------------------------------slider section start -------------------------------- */
.d-flex1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-slider div img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.main-slider{
    position: relative;
}
.main-slider .slick-prev{
    top: 300px;
    left: 40px;
    z-index: 2;
}
.main-slider .slick-prev:before{
    font-size: 40px;
    border: 2px solid #1a1a1a;
    padding: 10px 5px;
    border-radius: 5px;
    font-family: none;
    color: #1a1a1a;
}

.main-slider .slick-next{
    top: 300px;
    right: 70px;
    z-index: 2;
}
.main-slider .slick-next:before{
    font-size: 40px;
    border: 2px solid #1a1a1a;
    padding: 10px 5px;
    border-radius: 5px;
    font-family: none;
    color: #1a1a1a;
}

.movies-data{
    position: absolute;
    color: white;
    bottom: 0;
    background: linear-gradient(180deg,transparent 0,transparent 0,rgba(0,0,0,.35) 35.5%,rgba(0,0,0,.75));
}
.movies-data img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}
.data a{
    text-decoration: none;
    color: white;
}
.data i{
    font-size: 90px;
    background-color: transparent;
    margin-left: 10px;
}
.data1{
    margin: 20px 0px 0px 10px;
}
.data1 a{
    text-decoration: none;
    color: white;
}
.data1 a h2{
    font-size: 40px;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: white;
}
.data1 a p{
    font-size: 20px;
    font-family: "Poppins", serif;
    color: white;
}
.data1 a i{
    font-size: 18px;
    color: white;
}
/* --------------------------------slider section end -------------------------------- */



/* --------------------------------Best of 2024 section start -------------------------------- */
.best-of-2024 a img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.best-of-2024 .slick-next{
    right: 20px;
}
.best-of-2024 .slick-next:before{
    font-size: 40px;
}

.best-of-2024 .slick-prev{
    left: 0;
    z-index: 1;
}
.best-of-2024 .slick-prev:before{
    font-size: 40px;
}
/* --------------------------------Best of 2024 section end -------------------------------- */



/* --------------------------------Your watchlist section start -------------------------------- */
.ri-arrow-right-s-line{
    font-size: 30px;
    /* border: 1px solid red; */
}
.sign-in-for-watchlist{
    padding: 24px;
}
.ri-bookmark-fill{
    color: #fff;
    text-align: center;
    display: block;
    font-size: 50px;
    margin-bottom: 20px;
}
.sign-in-watchlist-data{
    margin-bottom: 30px;
}
.sign-in-watchlist-data h5{
    color: #fff;
    text-align: center;
    line-height: 1.8;
    font-size: 20px;
    font-family: "Poppins", serif;
}
.sign-in-watchlist-data p{
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: "Poppins", serif;
}
.sign-in button{
    text-decoration: none;
    display: block;
    margin: auto;
    background-color: #FFFFFF14;
    border-radius: 40px;
    padding: 10px 40px;
    border: none;
}
.sign-in button a{
    text-decoration: none;
    color: #5799ef;
    font-family: "Poppins", serif;
}
/* --------------------------------Your watchlist section end -------------------------------- */



/* --------------------------------top-10-imdb section srat -------------------------------- */
.top-10-slider .slick-prev{
    left: -10px;
    z-index: 1;
}
.top-10-slider .slick-prev:before{
    font-size: 40px;
}

.top-10-slider .slick-next{
    right: 10px;
}
.top-10-slider .slick-next:before{
    font-size: 40px;
}

.title h1{
    border-left: 3px solid #F5C513;
    padding-left: 10px;
    font-size: 24px;
    font-family: "Poppins", serif;
    color: #fff;
    margin: 0px 0px 10px 10px;
}

.movie-thumb a img{
    width: 100%;
    border-radius: 0px 10px 0px 0px;
}
.ri-star-s-fill{
    color: #F5C513 !important;
    margin-right: 5px;
    font-size: 20px;
}
.ri-star-s-line{
    color: #5799ef;
    margin-left: 20px;
    font-size: 20px;
}

.imdb-data{
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 0px 0px 10px 10px;
}
.imdb-data p{
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", serif;
    margin-bottom: 20px;
    font-weight: 300;
}
.imdb-data h5 a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: "Poppins", serif;
    display: block;
    margin-bottom: 30px;
    font-weight: 400;
}
.imdb-data h5 a:hover{
    text-decoration: underline;
}
.watchlist a{
    text-decoration: none;
    color: #5799ef;
    /* border: 1px solid red; */
    border-radius: 40px;
    padding: 5px 30px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    font-family: "Poppins", serif;
    background-color: #FFFFFF14;
}
.watchlist a:hover{
    background-color: #4d5a6d;
    color: #5799ef;
}
.trailer a{
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    font-family: "Poppins", serif;
}
/* --------------------------------top-10-imdb section end -------------------------------- */



/* --------------------------------fan-favorites section start -------------------------------- */
.fan-favorites .slick-prev{
    left: -10px;
    z-index: 1;
}
.fan-favorites .slick-prev:before{
    font-size: 40px;
}

.fan-favorites .slick-next{
    right: 10px;
}
.fan-favorites .slick-next:before{
    font-size: 40px;
}
/* --------------------------------fan-favorites section end -------------------------------- */



/* --------------------------------Popular-interests section start -------------------------------- */
.Popular-interests a img{
    width: 100%;
    /* height: 200px; */
    border-radius: 10px 10px 0px 0px;
}
.Popular-interests-name{
    background-color: #1a1a1a;
    padding: 10px;
}
.Popular-interests-name a{
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", serif;
}
.Popular-interests-name a:hover{
    text-decoration: underline;
}
.Popular-interests .slick-prev{
    left: -10px;
    z-index: 1;
}
.Popular-interests .slick-prev:before{
    font-size: 40px;
}

.Popular-interests .slick-next{
    right: 10px;
}
.Popular-interests .slick-next:before{
    font-size: 40px;
}
/* --------------------------------Popular-interests section end -------------------------------- */



/* --------------------------------Explore what's streaming section start -------------------------------- */
.title1 h1{
    color: #F5C513;
    font-family: "Poppins", serif;
    font-size: 34px;
    margin-bottom: 30px;
}
.navbar2 a{
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", serif;
    padding: 0px 24px 10px;
}
.justify-start{
    justify-content: start;
}
.navbar2 a:first-child{
    border-bottom: 3px solid #5799ef;
}
.prime-video .slick-prev{
    left: -10px;
    z-index: 1;
}
.prime-video .slick-prev:before{
    font-size: 40px;
}

.prime-video .slick-next{
    right: 10px;
}
.prime-video .slick-next:before{
    font-size: 40px;
}
/* --------------------------------Explore what's streaming section end -------------------------------- */



/* --------------------------------In theaters streaming section end -------------------------------- */
.Showtimes a{
    text-decoration: none;
    color: #5799ef;
    /* border: 1px solid red; */
    border-radius: 40px;
    padding: 5px 30px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    font-family: "Poppins", serif;
    background-color: #FFFFFF14;
}
.Showtimes a:hover{
    background-color: #4d5a6d;
    color: #5799ef;
}
.In-theaters .slick-prev{
    left: -10px;
    z-index: 1;
}
.In-theaters .slick-prev:before{
    font-size: 40px;
}

.In-theaters .slick-next{
    right: 10px;
}
.In-theaters .slick-next:before{
    font-size: 40px;
}
/* --------------------------------In theaters streaming section end -------------------------------- */



/* --------------------------------footer start -------------------------------- */
.box1{
    border: 1px solid rgba(255, 255, 255, 0.582);
    width: 100%;
}
.sign-in-for-more{
    background-color: #F5C513;
    border-radius: 40px;
    border: none;
    padding: 10px 40px;
    display: block;
    margin: auto;
}
.sign-in-for-more a{
    text-decoration: none;
    font-family: "Poppins", serif;
    font-size: 15px;
    color: black;
}
.sign-in-for-more:hover{
    background-color: #c49d10;
}
.social-icon{
    /* padding: 24px; */
    /* border: 1px solid white; */
    border-radius: 20px;
}
.social-icon h4{
    /* display: block; */
    padding: 20px 0px 0px 0px;
    font-size: 20px;
    font-family: "Poppins", serif;
    color: #fff;
    text-align: center;
}
.social-icon i{
    color: #fff;
    font-size: 30px;
    padding: 12px;
}
.for-ios h3{
    color: #fff;
    padding: 23px 0px 10px;
    font-family: "Poppins", serif;
}
.for-ios h4{
    color: #fff;
    padding: 0px 0px 23px 0px;
    font-family: "Poppins", serif;
}
.qr a img{
    width: 100px;
    height: 100px;
}
.footer a{
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", serif;
    padding: 10px;
    font-size: 18px;
}
.footer a:hover{
    text-decoration: underline;
}
.footer p{
    color:#FFFFFFB3;
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 12px;
}
/* --------------------------------footer end -------------------------------- */